
<div class="mapGoal panel panel-primary">
    <div class="panel-heading">
        {{! Setup Goal <span id="close-button" class="glyphicon glyphicon-remove pull-right"></span> }}
        Setup Goal <span class="pull-right"><button id="close-button" type="button" class="close" data-dismiss="alert" aria-label="Close">X</button></span>
    </div>
    <div class="panel-body">
        <p> Create a new goal for {{name}}?</p>
    </div>
</div>
