
<div id="savings-graph" class="panel panel-default">
    <div id="savings-graph" class="panel-body">
        <div id="savings-graph-container" class="plotly-graph">
            <iframe id="savings-iframe" class="plotly-graph" frameborder="0" seamless="seamless" scrolling="no" src="{{savingsGraphUrl}}" ></iframe>
        </div>
    </div>
</div>
