
<div class="well" style="min-height: 50px">
<p>Old habits die hard. By taking small steps at a time we can help identify areas where you can start.</p>
<p>Our MoneyMap is used to help you see how your money flows. Every month you have money coming in, and then you spend it on various categories.</p>
<p>Click a category to see a breakdown of expenses by merchant. Then click a merchant to set goals!</p>
</div>

<div id="map-container">
</div>

<div class="well" style="min-height: 50px">
Some easy steps to start cutting down on are:<br>
<ul>
<li>Making your own coffee</li>
<li>Cutting out cable</li>
<li>Eating out less</li>
</ul>
</div>
